<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="{{ '/' }}">
        <button>Back</button>
    </a>
    <h1>Add Item</h1>
    <form method="POST" action="{{ url_for('add_item') }}">
        <label for="name">Name:</label>
        <input type="text" name="name" required>
        <label >Alt:</label>
        <input type="text" name="alternative_name" >
        <label >Quantity:</label>
        <input type="text" name="quantity" required>
        <label >Status:</label>
        <select name="status" required>
            <option value="1">In Cupboard</option>
            <option value="0">On the Table</option>
        </select>
        <label >Pos x:</label>
        <input type="text" name="position_x" required>
        <label >Pos y:</label>
        <input type="text" name="position_y" required>

        <button type="submit">Add Item</button>
    </form>

</body>
</html>
