<!-- app/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <title>Vue App</title>
    <style>
        .cupboard {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 10px;
        }
        .cupboard-cell {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id="app">
        <a href="{{ 'add_item' }}">
            <button>Add Item</button>
        </a>
        <a href="{{ 'all_items' }}">
            <button>All items</button>
        </a>
        <form method="GET" action="{{ url_for('api_search') }}">
            <label for="searchInput">Search Product:</label>
            <input type="text" id="searchInput" name="searchInput" value="U801">
            <button id="searchButton">Search</button>
        </form>
        <div>
            <p id="productName"></p>
            <p id="productAlternativeName"></p>
            <p id="searchResultRow"></p>
            <p id="searchResultCol"></p>
        </div>
        <div class="cupboard">
            {% for row in range(1, 6) %}
                {% for col in range(1, 6) %}
                    <div class="cupboard-cell"
                         onclick="goToCellPage({{ row }}, {{ col }})">
                        <p>Row: {{ row }}, Column: {{ col }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
